body{
    background-color:rgb(217, 240, 155);
}
.m{
    width: 60%;
    margin: auto;
    position: absolute;
    left: 0px;
    right: 0px;
}
form{
    background-image: linear-gradient(to bottom, red, rgb(235, 194, 118), rgb(149, 149, 235), rgb(231, 21, 231),rgb(146, 60, 207));
    margin: auto;
    position: absolute;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 550px;
    border-radius: 15%;
    margin-top: 100px;
}
.b{
    text-align: center;
}
.c{
    margin: 20px;
}
a{
    background-image: linear-gradient(to right, rgb(240, 110, 132),rgb(230, 230, 27));
    text-decoration: none;
    font-size: 25px;
}
a:hover{
    color: rgb(50, 235, 75);
}
